:root {
    --color-primary: #336699;
    --color-primary-light: hsl(210, 50%, 45%);
    --color-secondary: #FFFFFF;
    --color-tertiary: #669966;
    
    --font-size-small: 16px;
    --font-size-medium: 18px;
    --font-size-large: 24px;
    --font-size-header: 48px;

    --header-width: 500px;
}

@media only screen and (max-width: 800px) {
    :root {
        --font-size-small: 14px;
        --font-size-medium: 16px;
        --font-size-large: 20px;
        --font-size-header: 32px;
    }
}

a {
    text-decoration: none;
}

h2, h3 {
    font-weight: 600;
}

.flex {
    display: flex;
}

.flex--column {
    flex-direction: column;
}

.flex--center {
    align-items: center;
    justify-content: center;
}