/************/
/* Sitewide */
/***********/

.btn {
    border: none;
    cursor: pointer;
}

.card {
    padding: 2em 1em;
    text-align: center;
}

    .card--long {
        padding-bottom: 10em;
    }

    .card__icon {
        font-size: 50px;
    }

    .card__title {
        margin: 1em 0;
    }

    .card__text {
        opacity: 0.75;
        line-height: 1.2;
    }

.section__header {
    padding-top: 5em;
}

.section__text {
    margin-top: 2em;
}

.main-content {
    padding-left: var(--header-width);
    padding-right: 5%;
}

.section-content {
    transform: translateY(-100px);
}

.title-bar {
    width: 100%;
    position: fixed;
    z-index: 100;
    display: none;
}

.header-toggle {
    margin: 0.25em;
}

/* Media Queries */
@media only screen and (max-width: 1600px) {
    .main-content {
        padding-left: 5%;
    }

    .title-bar {
        display: inline;
    }
}

/**********/
/* Header */
/**********/

header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--header-width);
    z-index: 1;
    transition: 1s;
}

    .header__content {
        padding: 3em 3em;
        width: 70%;
        min-height: 90%;
        align-items: center;
        justify-content: space-between;
    }

    .header__text {
        text-align: center;
    }

.nav--primary {
    align-self: flex-end;
    margin: 4em 0;
}

.nav--primary > .flex {
    gap: 2em;
}

.nav--socials {
    width: 100%;
    font-size: 52px;
}

.nav--socials > .flex {
    justify-content: space-between;
}

/* Media queries */
@media only screen and (max-width: 1600px) {
    header.is-hidden {
        transform: translateX(calc(-1*100%));
    }
}

/***********/
/* Landing */
/***********/

#landing {
    min-height: 100vh;
}

.landing__btn {
    padding: 0.75em 1.5em;
}

.overview {
    gap: 2em;
    min-height: 500px;
    clip-path: polygon(0 0, 0 90%, 50% 100%, 100% 90%, 100% 0);
}

    .overview > * {
        flex: 1;
    }

/* Media queries */
@media only screen and (max-width: 700px) {
    .overview {
        flex-direction: column;
    }
}

/************/
/* Services */
/************/

.services__table {
    gap: 2em;
}

.service {
    position: relative;
}

    .service__img {
        width: 500px;
    }

    .service__img--align-right {
        position: relative;
        left: 100%;
        transform: translateX(-100%);
    }

    .service__content {
        min-width: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

@media only screen and (max-width: 700px) {
    .services__table {
        align-items: center;
        gap: 8em;
        margin-bottom: 5em;
    }

    .service__img {
        width: 350px;
    }

    .service__img--align-right {
        position: static;
        transform: translateX(0);
    }

    .service__content {
        top: 25%;
        transform: translateX(-50%);
    }

}

/***********/
/* Contact */
/***********/

.contact__form {
    margin: 0 auto;
    padding: 3em 2em;
}


.contact__info {
    flex: 1;
    padding-left: 3em;
    justify-content: space-around;
}

.contact__input {
    flex: 2;
    padding-right: 3em;
    border-right: 1px solid var(--color-tertiary);
}

input[type=text], textarea {
    font-size: 16px;
    border-radius: 4px;
    border: none;
    resize: none;
    box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.5);
    margin: 0.75em 0 1.5em 0;
    padding: 0.5em;
}

input[type=submit] {
    width: 20%;
    border-radius: 4px;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}