.card {
    padding: 2em 1em;
    text-align: center;
}

    .card__icon {
        font-size: 50px;
    }

    .card__title {
        margin: 1em 0;
    }

header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    align-items: center;
    justify-content: center;
}

    .header__content {
        width: 70%;
        min-height: 90%;
        justify-content: space-between;
    }

.overview {
    padding: 2em 0;
    gap: 2em;
}

.service {
    position: relative;
}

    .service__img {
        width: 40%;
    }

    .service__img--align-right {
        position: relative;
        left: 50%;
    }

    .service__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }